
.pressed{
	background-color: #e6e6e6 !important;
}
.butn{
    padding: 6px 12px;
    border: 1px solid transparent;
	border-radius: 4px;
	background-color: #fff;
    border-color: #ccc;
}
.ui-helper {
	width:fit-content !important;
	height:fit-content !important;
}


.container{
	background:#fff !important;
}